<h1>Criar Produto</h1>
<form action="products/create" method="post">
    <div class="form-cotrol">
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Digite um nome">
    </div>
    <div class="form-cotrol">
        <label for="price">Preço</label>
        <input type="text" name="price" placeholder="Preço do produto">
    </div>
    <div class="form-cotrol">
        <label for="description">Descrição</label>
        <textarea name="description" placeholder="Descrição do produto"></textarea>
    </div>
    <input type="submit" value="Cadastrar" class="btn">

</form>